{% extends 'AppMusic/padre.html' %}
{% load static %}


{% block contenidoquecambia %}

<h3>Desea realmente borrar?</h3>      
         

<form action="" method="POST"> 

    {% csrf_token %}

        <ul>
            <li>inicios: {{biografia.inicios}} </li>
            <li>genero: {{biografia.genero}} </li>
            <li>links: {{biografia.links_banda}} </li>
         </ul>
    
    
         <input type="submit" value="Borar">
         <li class="btn btn-primary"> <a href="{% url 'biografia' %}">Volver</a> </li>

    </form>

    
{% endblock %}
